* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('./assets/images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    border-bottom: solid #33A8DB80 1px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 268px;
    height: 268px;
    border-radius: 50%;
    background-color: #00000033;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
}

.banner-content>h1 {
    font-size: 2.2rem;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 900;
}

.banner-content>p {
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #fff;
    font-weight: lighter;
}

.banner-content>button {
    margin-bottom: 100px;
    border: 2px solid #33A8DB;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 20px 40px 20px 40px;
    font-size: 1.2rem;
    background-color: transparent;
    color: #33A8DB;
    letter-spacing: 3px;
    cursor: pointer;
}

.banner-content>button:hover {
    text-shadow: 3px 0px 10px #33A8DB;
    box-shadow: 0px 0px 10px #33A8DB;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#course-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 792px;
    padding-top: 100px;
}

#course-content>h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #33A8DB;
    letter-spacing: 5px;
}

#course-content>p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 100;
    color: #fff;
}

.module {
    border: 1px solid #33A8DB;
    box-shadow: inset -5px 7px 5px 0px #00000066;
    background-color: #252525;
    padding: 15px 60px;
    margin-bottom: 30px;
    border-radius: 50px;
    text-align: center;
}

.module:hover {
    box-shadow: inset 5px -7px 5px 0px #00000066;
}

#transform-world {
    display: flex;
    align-items: center;
    width: 100%;
    height: 363px;
    margin-top: 70px;
    margin-bottom: 100px;
    border-top: 1px solid #33A8DB;
    border-bottom: 1px solid #33A8DB;
    background: url(./assets/images/woman-code.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#transform-world>p {
    font-size: 1.8rem;
    width: 170px;
    text-transform: lowercase;
    font-weight: bolder;
    margin-left: 198px;
    text-shadow: 4px 1px 1px #33A8DB;
}

#professional-challenges {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 700px;
    padding-bottom: 100px;
}

#professional-challenges>h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #33A8DB;
    letter-spacing: 5px;
}

#professional-challenges>img {
    margin-top: 30px;
    margin-bottom: 30px;
}